<%- include('partials/_header') -%>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Man must explore, and this is exploration at its greatest</h1>
            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1> <%= blog.title %> </h1>
          <h2> <%= blog.detail %> </h2>
          <span class="meta"> <%= blog.dateCreated %></span>
          
        </div>
        <div class="tm-bg-gray tm-share-box">
        <div class="text-center">
          <a href="/blogs/edit/<%= blog._id %>"class="btn btn-primary p-0 mb-4 tm-btn-animate tm-btn-download tm-icon-download"><span>Update Details</span></a>	
        </div>	
        <div class="text-center">
          <a href="/blogs/<%= blog._id %>?_method=DELETE" class="btn btn-danger p-0 tm-btn-animate tm-btn-download tm-icon-download"
            onclick="confirm('ARE YOU SURE?')"><span>Delete Blog</span></a>								</div>
          </div>
      </div>
    </div>
    
  </article>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer') -%>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/clean-blog.min.js"></script>

</body>

</html>
